{{- /* Create Redis secret for external Redis with inline password */}}
{{- if and (not .Values.redis.enabled) (not .Values.externalRedis.existingSecret) .Values.externalRedis.password }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "chorus.fullname" . }}-redis-external
  labels:
    {{- include "chorus.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{ .Values.externalRedis.existingSecretPasswordKey | default "password" }}: {{ .Values.externalRedis.password | quote }}
{{- end }}
