{{- /* Storage credentials secret */}}
{{- if include "chorus.createCredentialsSecret" . }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "chorus.credentialsSecretName" . }}
  labels:
    {{- include "chorus.labels" . | nindent 4 }}
type: Opaque
stringData:
  config.yaml: |
    {{- if .Values.credentials.storages }}
    storage:
      storages:
        {{- range $storageName, $users := .Values.credentials.storages }}
        {{ $storageName }}:
          credentials:
            {{- $users | toYaml | nindent 12 }}
        {{- end }}
    {{- end }}
{{- end }}
---
{{- /* Dynamic credentials master password secret */}}
{{- if include "chorus.createDynamicCredentialsSecret" . }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "chorus.dynamicCredentialsSecretName" . }}
  labels:
    {{- include "chorus.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{ include "chorus.dynamicCredentialsSecretKey" . }}: {{ .Values.dynamicCredentials.masterPassword | quote }}
{{- end }}
