{{- if .Values.worker.config.api.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "chorus.fullname" . }}-grpc
  labels:
    {{- include "chorus.labels" . | nindent 4 }}
    app.kubernetes.io/component: worker
  {{- with .Values.worker.grpcService.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.worker.grpcService.type }}
  ports:
    - name: grpc
      port: {{ .Values.worker.grpcService.port }}
      targetPort: grpc
      protocol: TCP
  selector:
    {{- include "chorus.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: worker
{{- end }}
