{{- if .Values.worker.config.api.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "chorus.fullname" . }}-rest
  labels:
    {{- include "chorus.labels" . | nindent 4 }}
    app.kubernetes.io/component: worker
  {{- with .Values.worker.restService.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.worker.restService.type }}
  ports:
    - name: rest
      port: {{ .Values.worker.restService.port }}
      targetPort: rest
      protocol: TCP
  selector:
    {{- include "chorus.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: worker
{{- end }}
