volumes:
  # Volume to preserve chorus data between restarts
  redis-data:
services:
  # Redis - required component to run chorus
  # Redis is used by all chorus components to store metadata
  # and coordinate work between them
  redis:
    image: "redis"
    command: ["redis-server", "--appendonly", "yes"]
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_PORT_NUMBER=6379
    expose:
      - 6379
    volumes:
      - redis-data:/data
  # Chorus components
  # Chorus worker - main component that processes data
  worker:
    depends_on:
      - redis
    build:
      context: ../
      args:
        SERVICE: worker
    volumes:
      - type: bind
        # worker-specific config
        source: ./worker-conf.yaml
        target: /bin/config/config.yaml
      - type: bind
        # common config: s3 credentials
        source: ./s3-credentials.yaml
        target: /bin/config/override.yaml
    ports:
      - "9671:9671" # expose REST api for web UI
      - "9670:9670" # expose grpc management API for CLI
  # Chorus S3 proxy
  # Can be used capture data change and backup it with worker to another S3.
  # Can be used to migrate to another S3 by bucket. Before migration it will route all requests to old S3.
  # After migration it will route all requests to new S3.
  proxy:
    # To enable run with proxy profile: "docker-compose up --profile proxy up". See https://docs.docker.com/compose/profiles/
    profiles:
      - "proxy"
    depends_on:
      - redis
    build:
      context: ../
      args:
        SERVICE: proxy
    volumes:
      # proxy config
      - type: bind
        source: ./proxy-conf.yaml
        target: /bin/config/config.yaml
      # common config: s3 credentials
      - type: bind
        source: ./s3-credentials.yaml
        target: /bin/config/override.yaml
    ports:
      - "9669:9669" # expose proxy s3 api
  # Chorus web UI
  # Access UI on http://localhost:8080
  web-ui:
    depends_on:
      - worker
    build:
      context: ../ui
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    environment:
      # URL to worker REST API
      - "BACKEND_URL=http://worker:9671"
  # start fake in-memory s3 endpoints. To enable run with fake profile: "docker-compose up --profile fake up"
  fake-s3-main:
    profiles:
      - "fake"
    build:
      context: .
      dockerfile: ./FakeS3Dockerfile
    expose:
      - 9000
    ports:
      - "9001:9000" # expose main s3 to host
  fake-s3-follower:
    profiles:
      - "fake"
    build:
      context: .
      dockerfile: ./FakeS3Dockerfile
    expose:
      - 9000
    ports:
      - "9002:9000" # expose follower s3 to host

