storage:
  main: main
  storages:
    main: # yaml key with some handy storage name
      type: S3
      address: "http://fake-s3-main:9000"
      credentials:
        user1:
          accessKeyID: fakeKey
          secretAccessKey: fakeSecret
      provider: Other # <Ceph|Minio|Other> # S3 provider name. Required to use provider-specific APIs, like setting versionID. Use 'Other' if your storage is S3 compatible but not listed.
      healthCheckInterval: 10s
      httpTimeout: 1m
      isSecure: false #set false for http address
      defaultRegion: ""
      rateLimit:
        enable: true
        rpm: 600
    follower: # yaml key with some handy storage name
      type: S3
      address: "http://fake-s3-follower:9000"
      credentials:
        user1:
          accessKeyID: fakeKey2
          secretAccessKey: fakeSecret2
      provider: Other # <Ceph|Minio|Other> # S3 provider name. Required to use provider-specific APIs, like setting versionID. Use 'Other' if your storage is S3 compatible but not listed.
      healthCheckInterval: 10s
      httpTimeout: 1m
      isSecure: false
      defaultRegion: ""
      rateLimit:
        enable: true
        rpm: 600
