concurrency: 10 # max number of task that can be processed in parallel
shutdownTimeout: 5s
worker:
  queueUpdateInterval: 3s
  swiftRetryInterval: 1m # used for swift task retries caused by swift inconsistent state
  pauseRetryInterval: 30s
  switchRetryInterval: 30s
  taskCheckInterval: 1s
  delayedTaskCheckInterval: 3s
lock:
  overlap: 2s
api:
  enabled: false # set true to enable management api
  grpcPort: 9670
  httpPort: 9671
  secure: false
  webhook:
    enabled: false # enable chorus webhook for event sources like S3 bucket notification or swift access logs
    grpcPort: 0 # host grpc webhook on a separate port. By default will be hosted with management API
    httpPort: 0 # host http webhook on a separate port. By default will be hosted with management API
storage:
  # main: my_s3_storage # one of the storages in should be main
  dynamicCredentials:
    enabled: false # set true to enable to manage storage credentials via API
    disableEncryption: false
    masterPassword: "" # master password to encrypt/decrypt storage credentials.
    pollInterval: 3s # poll interval to check for updated credentials by chorus replicas
  storages:
  #   # example credentials for S3 compatible storage
  #   my_s3_storage: # uniq storage alias to refer in chorus API. Can be any lowercase string
  #     type: S3 # [REQUIRED] storage type: S3 or SWIFT
  #     rateLimit:
  #       enabled: false
  #       rpm: 60
  #     credentials:
  #       user1:
  #         accessKeyID: <user1 v4 accessKey credential>
  #         secretAccessKey: <user1 v4 secretKey credential>
  #       user2:
  #         accessKeyID: <user2 v4 accessKey credential>
  #         secretAccessKey: <user2 v4 secretKey credential>
  #     provider: <Ceph|Minio|Other> # S3 provider name. Required to use provider-specific APIs, like keeping original versionID. Use 'Other' if your storage is S3 compatible but not listed.
  #     isSecure: true #set false for http address
  #     address: clyso.com
  #     defaultRegion: ""
  #     healthCheckInterval: 5s
  #     httpTimeout: 10m0s
  #     # example credentials for OpenStack Swift storage
  #   my_swift_storage: # uniq storage alias to refer in chorus API. Can be any lowercase string
  #     type: SWIFT # [REQUIRED] storage type: S3 or SWIFT
  #     rateLimit:
  #       enabled: false
  #       rpm: 60
  #     credentials:
  #       b6ebf758c9894224a105e5531eaa4ce9: # have to be openstack project ID (aka tenant ID, aka swift account)
  #         username: username1 # Equal to openstack OS_USERNAME
  #         password: password1 # Equal to openstack OS_PASSWORD
  #         domainName: domain1 # Equal to openstack OS_DOMAIN_NAME
  #         tenantName: tenant1 # Equal to openstack OS_TENANT_NAME
  #       38ylf758c9894224a105e5531edl834h:
  #         username: username2
  #         password: password2
  #         domainName: domain2
  #         tenantName: tenant2
  #     storageEndpointName: endpoint # endpoint name in keystone catalog
  #     storageEndpointType: object-store # endpoint type in keystone catalog
  #     region: "" # openstack region name
  #     authURL: http://auth.url/v3 # keystone auth url
  #
