concurrency: 10 # max number of task that can be processed in parallel
shutdownTimeout: 5s
worker:
  queueUpdateInterval: 5s
  pauseRetryInterval: 30s
  switchRetryInterval: 30s
rclone:
  memoryLimit:
    enabled: true
    limit: 300M # Max RAM memory for file copy. Possible values: 50M <= mem <= (total app RAM - 50M).
    # More memory -> faster s3 replication. # For example: if worker container resources.memory.limit = 500M, then mem = 450M
    retryMin: 2s # min task retry interval if limit reached. Used in retry sampler
    retryMax: 20s # max task retry interval if limit reached. Used in retry sampler
  memoryCalc:
    mul: 1.5
    const: 0M
  localFileLimit:
    enabled: false
    limit: 3 # max number of objects copied in parallel by one instance
    retryMin: 2s
    retryMax: 20s
  globalFileLimit:
    enabled: true
    limit: 3 # max number of objects copied in parallel across all instances - useful if worker replicas share the same network resource
    retryMin: 2s
    retryMax: 20s
lock:
  overlap: 2s
api:
  enabled: false # set true to enable management api
  grpcPort: 9670
  httpPort: 9671
  secure: false
storage:
  # main: my_s3_storage # one of the storages in should be main
  storages:
  #   # example credentials for S3 compatible storage
  #   my_s3_storage: # uniq storage alias to refer in chorus API. Can be any lowercase string
  #     type: S3 # [REQUIRED] storage type: S3 or SWIFT
  #     rateLimit:
  #       enabled: false
  #       rpm: 60
  #     credentials:
  #       user1:
  #         accessKeyID: <user1 v4 accessKey credential>
  #         secretAccessKey: <user1 v4 secretKey credential>
  #       user2:
  #         accessKeyID: <user2 v4 accessKey credential>
  #         secretAccessKey: <user2 v4 secretKey credential>
  #     provider: <Ceph|Minio|AWS|Other see providers list in rclone config> # https://rclone.org/s3/#configuration
  #     isSecure: true #set false for http address
  #     address: clyso.com
  #     defaultRegion: ""
  #     healthCheckInterval: 5s
  #     httpTimeout: 10m0s
  #     # example credentials for OpenStack Swift storage
  #   my_swift_storage: # uniq storage alias to refer in chorus API. Can be any lowercase string
  #     type: SWIFT # [REQUIRED] storage type: S3 or SWIFT
  #     rateLimit:
  #       enabled: false
  #       rpm: 60
  #     credentials:
  #       b6ebf758c9894224a105e5531eaa4ce9: # have to be openstack project ID (aka tenant ID, aka swift account)
  #         username: username1 # Equal to openstack OS_USERNAME
  #         password: password1 # Equal to openstack OS_PASSWORD
  #         domainName: domain1 # Equal to openstack OS_DOMAIN_NAME
  #         tenantName: tenant1 # Equal to openstack OS_TENANT_NAME
  #       38ylf758c9894224a105e5531edl834h:
  #         username: username2
  #         password: password2
  #         domainName: domain2
  #         tenantName: tenant2
  #     storageEndpointName: endpoint # endpoint name in keystone catalog
  #     storageEndpointType: object-store # endpoint type in keystone catalog
  #     region: "" # openstack region name
  #     authURL: http://auth.url/v3 # keystone auth url
  #
