log:
  level: warn
  json: false
concurrency: 10
shutdownTimeout: 5s
api:
  enabled: true # set true to enable management api
  grpcPort: 9670
  httpPort: 9671
  secure: false
uiPort: 9672
lock:
  overlap: 2s
proxy:
  enabled: true
  address: http://localhost:9669 # Chorus proxy s3 api address
  port: 9669
  cors:
    enabled: true
    allowAll: false
    whitelist:
      - http://localhost:9672
  auth:
    allowV2Signature: true
    useStorage: # use credentials from one of configured storages <one|two>
    custom: # use custom credentials for proxy s3 endpoint
    #      - accessKeyID: <s3 v4 accessKey credential>
    #        secretAccessKey: <s3 v4 secretKey credential>
    #      - accessKeyID: <s3 v4 accessKey credential>
    #        secretAccessKey: <s3 v4 secretKey credential>
worker:
  queueUpdateInterval: 3s
  swiftRetryInterval: 1m # used for swift task retries caused by swift inconsistent state
  pauseRetryInterval: 30s
  switchRetryInterval: 30s
  taskCheckInterval: 1s
  delayedTaskCheckInterval: 3s
