address: "http://localhost:9669" # Chorus proxy s3 api address
port: 9669
cors:
  enabled: false
  allowAll: false
  whitelist:
auth:
  allowV2Signature: false
  useStorage: # use credentials from one of configured storages <one|two>
  custom: # OR use custom credentials for proxy s3 endpoint
#    user1:
#      accessKeyID: <user1 v4 accessKey credential>
#      secretAccessKey: <user1 v4 secretKey credential>
#    user2:
#      accessKeyID: <user2 v4 accessKey credential>
#      secretAccessKey: <user2 v4 secretKey credential>
storage:
  defaultRegion: "us-east-1" # fallback region. Will be used if origin region is not supported by replication destination
  storages:
#    one: # yaml key with some handy storage name
#      address: <s3.chorus.com>
#      credentials:
#        user1:
#          accessKeyID: <user1 v4 accessKey credential>
#          secretAccessKey: <user1 v4 secretKey credential>
#        user2:
#          accessKeyID: <user2 v4 accessKey credential>
#          secretAccessKey: <user2 v4 secretKey credential>
#      provider: <Ceph|Minio|Other> # S3 provider name. Required to use provider-specific APIs, like keeping original versionID. Use 'Other' if your storage is S3 compatible but not listed.
#      isMain: true # <true|false> one of the storages in should be main
#      healthCheckInterval: 10s
#      httpTimeout: 1m
#      isSecure: true #set false for http address
#      rateLimit:
#        enable: true
#        rpm: 60
#    two: # yaml key with some handy storage name
#      address: <news3.chorus.com>
#      credentials:
#        user1:
#          accessKeyID: <user1 v4 accessKey credential>
#          secretAccessKey: <user1 v4 secretKey credential>
#        user2:
#          accessKeyID: <user2 v4 accessKey credential>
#          secretAccessKey: <user2 v4 secretKey credential>
#      provider: <Ceph|Minio|Other> # S3 provider name. Required to use provider-specific APIs, like keeping original versionID. Use 'Other' if your storage is S3 compatible but not listed.
#      isMain: false # <true|false> one of the storages in should be main
#      healthCheckInterval: 10s
#      httpTimeout: 1m
#      isSecure: true #set false for http address
#      rateLimit:
#        enable: true
#        rpm: 60
