# name: E2E tests
# on:
#   push:
#     branches:
#       - main
#   pull_request:
#     branches:
#       - main
#     paths:
#       - ".github/**"
#       -  "**.go"
#       - "**/config.yaml"
# jobs:
#   test:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4
#       - name: Set up Go
#         uses: actions/setup-go@v4
#         with:
#           go-version: "1.21"
#       - name: Fmt
#         run: go fmt ./...
#       - name: Vet
#         run: go vet ./...
#       - name: Test
#         run: go test ./...
