name: E2E tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - ".github/**"
      - "**.go"
      - "**/config.yaml"
      - "**/proto/**"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.24"
      - name: make test
        run: make test-ci
      - name: Run Proto Generation
        run: make proto-gen
      - name: Check for Uncommitted Changes
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            # Capture the list of uncommitted files
            UNCOMMITTED_FILES=$(git status --porcelain)
            echo "::error::Proto generation step has uncommitted changes: $UNCOMMITTED_FILES"
            echo "Please run the following command locally and commit the results:"
            echo "- \`./proto/gen_proto.sh\`"
            exit 1
          else
            echo "Proto generation check passed. No uncommitted changes."
          fi
