name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

# GO tests
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.21'

    - name: Fmt
      run: go fmt ./...

    - name: Vet
      run: go vet ./...

#    - name: Test
#      run: go test ./...

#    - name: golangci-lint
#      uses: golangci/golangci-lint-action@v3
#      with:
#        version: v1.55.2