name: Build test image
on:
  pull_request:
    types: [ labeled ]
env:
  REGISTRY: harbor.clyso.com
jobs:
  # build and publish docker images
  docker:
    if: ${{ github.event.label.name == 'test' }}
    strategy:
      matrix:
        service:
          - worker
          - proxy
          - agent
    runs-on: ubuntu-latest
    steps:
      - name: Set build date
        id: date
        run: echo "::set-output name=date::$(date -Is -u)"
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.REGISTRY }}/chorus/${{ matrix.service }}:${{ github.head_ref || github.ref_name }}
          build-args: |
            BUILD_DATE=${{ steps.date.outputs.date }}
            GIT_TAG=${{ github.ref_name }}
            GIT_COMMIT=${{ github.sha }}
            SERVICE=${{ matrix.service }}
