{{- if .Values.ingress.ui.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "chorus.fullname" . }}-ui
  labels:
    {{- include "chorus.labels" . | nindent 4 }}
    app.kubernetes.io/component: ui
  {{- with .Values.ingress.ui.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.ui.className }}
  ingressClassName: {{ .Values.ingress.ui.className }}
  {{- end }}
  {{- if .Values.ingress.ui.tls }}
  tls:
    {{- range .Values.ingress.ui.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.ui.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ include "chorus.fullname" $ }}-ui
                port:
                  name: http
          {{- end }}
    {{- end }}
{{- end }}
