{{- if .Values.ui.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "chorus.fullname" . }}-ui
  labels:
    {{- include "chorus.labels" . | nindent 4 }}
    app.kubernetes.io/component: ui
  {{- with .Values.ui.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.ui.service.type }}
  ports:
    - name: http
      port: {{ .Values.ui.service.port }}
      targetPort: http
      protocol: TCP
  selector:
    {{- include "chorus.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: ui
{{- end }}
